* {
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    color: white;
    font-family: "Golos Text", sans-serif;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    background: url("./background.png") no-repeat;
    background-size: cover;
    aspect-ratio: 7/3.7;
}

header a {
    color: white;
    text-decoration: none;
}

nav {
    padding: 42px 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

nav ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
}
.banner {
    margin: 159px 0 46px 138px;
    width: 467px;
}
.button-header {
    margin-left: 138px;
    font-size: 14px;
    font-weight: 500;
    background: #25252C;
    border-radius: 50px;
    width: 255px;
    display: flex;
    align-items: center;
    padding: 24px 48px;
}

.button-header:before {
    margin-top: 3px;
    margin-right: 10px;
    content: url("./arrow-right.svg");
}

.clock-text {
    position: absolute;
    bottom: 22px;
    right: 138px;
    background: url("./Group\ 2.png");
    width: 227px;
    height: 227px;
}
.fon{
    background-color: #1E262F;
    background-size: cover;
    aspect-ratio: 7/3.7;
    display: flex;
}
.o-comp{
    margin-top: 342px;
    margin-left: 206px;
    margin-right: 159px ;


}
.title-co{
    width:189px ;
    color: white;
    font-family: "Inetr", sans-serif;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 16px;
}
.text-co{
    color:white;
    font-size: 24px;
    font-weight: 300;
    font-family: "Inter", sans-serif;
    opacity: 25%;
    padding-bottom: 16px ;


}
.text-company{
    color: #ffffff;
    font-family: "Oranienbaum";
    font-weight: 400;
    font-size: 56px;
    line-height: 63.28px;
    opacity: 80%;
    margin-top: 231px;
    
}
.title-opis{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.24px;
    color: #ffffff;
    opacity: 80%;
}

.text-opis{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.24px;
    color: #ffffff;
    opacity: 80%;

}
.img-co{
    width:376px ;
    height:212px ;
    background:url(./Rectangle\ 7.png) ;
    margin-top:174px ;
    margin-left: 80px;
}
.opis{
    display: flex;
}
